/* Write your CSS code here. */
.main-container {
  background-image: linear-gradient(to Right, #ffeeee, #ffc0bb);
  background-size: cover;
  height: 100vh;
  padding: 150px;
}

.emojis-card-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38vh;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image {
  height: 20%;
  width: 50%;
}

.button {
  background-color: #ffffff;
  border-width: 0px;
  cursor: pointer;
}

.para {
  font-family: Roboto;
  color: #1e293b;
  font-size: 20px;
}

.main-heading {
  text-align: center;
}
